<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

		<title>Validar turno</title>
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado turnos"></div>
			<span class="encabezado">Consultar turno</span>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>

		<div class="button-container2 sin-foto">
			<label for="dniPaciente">Ingrese el DNI del paciente</label>
			<br />
			<form
				id="searchForm"
				action="/appointments/appointment-search"
				method="post"
			>
				<input
					type="text"
					name="dniPaciente"
					class="style-input"
					placeholder="Ingrese el DNI del paciente"
					required
				/>
				<button type="submit" class="button-gral">Buscar</button>
			</form>
		</div>
		<% if (typeof turnos !== 'undefined' && turnos.length > 0) { %>
		<div class="results">
			<h2>Resultados de la búsqueda</h2>
			<ul>
				<% turnos.forEach(turno => { %>
				<li>
					Fecha: <%= turno.fecha %> - Hora: <%= turno.hora %> - Médico: <%=
					turno.medico %>
					<a
						href="/appointments/appointment-update/<%= turno.idTurno %>"
						class="button-edit"
						>Editar</a
					>
					<form
						id="appointment-delete"
						action="/appointments/appointment-delete"
						method="post"
						style="display: inline"
					>
						<input
							type="hidden"
							name="turnoId"
							value="<%= turno.idTurno %>"
						/>
						<button type="submit" class="button-delete">Eliminar</button>
					</form>
				</li>
				<% }) %>
			</ul>
		</div>
		<% } else if (typeof turnos !== 'undefined') { %>
		<div class="no-results">
			<p>No se encontraron turnos para el DNI proporcionado</p>
		</div>
		<% } %>
		<script>
			document
				.getElementById('appointment-delete')
				.addEventListener('submit', function (event) {
					event.preventDefault();

					const form = event.target;
					const formData = new FormData(form);
					const data = new URLSearchParams(formData);

					fetch('/appointments/appointment-delete', {
						method: 'POST',
						body: data,
					})
						.then((response) => {
							if (!response.ok) {
								throw new Error(
									'Error en la solicitud: ' + response.statusText
								);
							}
							return response.json();
						})
						.then((result) => {
							alert(result.message);
							window.location.href = '/appointments/appointment-search';
						})
						.catch((error) => {
							console.error('Error:', error);
							alert('Ocurrió un error al actualizar los suministros.');
						});
				});
		</script>
		<script src="/scripts/reloj.js"></script>
	</body>
</html>
