<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<title>Comprobante de turno</title>
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado turnos"></div>
			<span class="encabezado" style="margin-top: 40px"
				>Comprobante de turno</span
			>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>
		<div class="RecuadroComprobanteTurno">
			<div class="primeros-elementos">
				<div class="columna">
					<div>
						<img
							src="/images/logo.png"
							alt="Logo"
							class="logoCompTurno"
						/>
					</div>
				</div>
				<div class="columna">
					<div class="NombreClinica">
						<h2>Clinica Se Prise</h2>
					</div>
				</div>
				<div class="columna">
					<div class="idturno">
						<h2>ID: <%= turno.idTurno %></h2>
					</div>
				</div>
			</div>
			<div class="columna">
				<div class="profesional">
					<h2>Paciente: <%= patient.nombreCompleto %></h2>
				</div>
			</div>
			<div class="columna">
				<div class="consultorio">
					<h2>Profesional: Dr. <%= doctor.nombre %></h2>
				</div>
			</div>
			<div class="textocompTurnos">
				<div><h3>Fecha: <%= turno.fechaTurno %></h3></div>
				<div><h3>Hora: <%= turno.hora %></h3></div>
				<div><h3>Especialidad: <%= doctor.especialidad %></h3></div>
			</div>
			<div class="button-container-3">
				<button type="button" class="back-button" onclick="cancelar()">
					Volver
				</button>
			</div>
		</div>
		<script>
			function cancelar() {
				window.location.href = '/appointments/appointment-management';
			}
		</script>
	</body>
	<script src="/scripts/reloj.js"></script>
</html>
